//variables para utilizar en nuestros estilos(colores, proporciones , tipo de letra etc)

$body_font:'Raleway', sans-serif;
$background_uno:#e4e4e4;
$background_dos:#f7f7f7;
$color_text_titulo:#fff;
$color_text_laboratoria:#ea8f0e;
$color_text_p:#989998;
$color_text_tres:whitesmoke;
$text_center:center;
$padding:6%;
$padding_media:11%;
$padding_footer:2%;
$width_desktop:100%;